# Environment variables
*.env
.env

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/
.ENV/
.env/
*.env/

# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python

# Django specific
db.sqlite3
db.sqlite3-journal
static/

# Database
*.db
*.sqlite
*.sqlite3


# Environments
.env
env/
venv/
ENV/
env.bak/

migrations/